{% extends "base.html"%}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
{% endblock %}

{% block content %}
  <h1 class="display-6">投票一覧</h3>
  {% if latest_question_list %}
    <ul class="list-group">
      {% for question in latest_question_list %}
      <li class="list-group-item d-flex justify-content-between justify-content-between fs-4">
        {{question.question_text}}
      <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">
      投票へ
      </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock %}
